<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>Rock n roll, friend!</h1>
     <p> You found the right wave </p>
      <p> Thanks <strong> <%= @user.username %> </strong> for signing up! </p> 
      Your email is <%=  @user.email %> 
</body>
</html>
