<% provide(:title, 'About') %>

<h1>About</h1>
<p>This is a very simple and static about page</p>

<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="#">
      <span class="badge pull-right">42</span>
      Home
    </a>
  </li>
  <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
   <li >
    <a href="#">
      <span class="badge pull-right">42</span>
      back
    </a>
  </li>
  
</ul>
